.header__subtitle {
  font-size: 32px;
  font-weight: normal;
  text-decoration: none;
  color: #10191E;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: auto auto;
  padding: 0;
}

@media (max-width: 1440px) {
  .header__subtitle {
    font-size: 28px;
  }
}

/*.header__subtitle[lang="ru"]::before {
  content: 'Привет, меня зовут ';
}
  
.header__subtitle[lang="en"]::before {
  content: 'Hello, my name is ';
}
  
.header__subtitle[lang="fr"]::before {
  content: 'Bonjour, je suis ';
}

.header__subtitle::after {
  content: "!";
}*/