.card {
    width: 45%;
    margin: 0 auto 60px;
    padding: 45px 45px 70px;
    display: inline-block;
    box-shadow: 4px 4px 5px rgba(250,50,50,.4);
}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
}