.menu__link {
    text-decoration: none;
    color: #00f;
    margin: 10px 0 0;
    padding: 0;
}

@media (min-width: 768px) {
    .menu__link {
        margin-top: 0;
        margin-right: 20px;
    }

    .menu__link:last-of-type {
        margin-right: 0;
    }
}

